#Ignore all the out, exe and class files
*.class
*.exe
*.out
#Ignore temporary files
*.o
*.obj

#Ignore anybuild directories and it contents
bin/
build/
study/
.vscode/

#Ignore all the trials and demo files
___TRIAL___.cpp

